.results {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--results-color);
    border-radius: 0.5em;
    margin-bottom: 1em;
    transform: scale(1);
    transition: 0.2s;
    min-width: 50%;
    aspect-ratio: auto;
}

@media screen and (max-width: 700px) {
    .results {
        max-width: 100%;
    }
}

.results:hover {
    transform: scale(1.005);
    transition: 0.2s;
    cursor: pointer;
}

