.container {
    display:flex;
    flex-direction: column;
    margin: 0 2em;
}

.resultsContainer {
    display: flex;
    flex-direction: column;
    margin-right: 1em;
}

.statsAndResults {
    display: flex;
}

.filterBar {
    display: flex;
    flex-direction: row;
}