.link {
    display: flex;
    color: #e1e9fc;
    align-items: center;
    padding: 0.5rem;
    list-style: none;
    min-height: 50px;
    text-decoration: none;
    font-size: 18px;
}

.link.active {
    color: #f4f4f4;
    border-left: 0.2rem solid var(--sidebar-hover-color);
    cursor: pointer;
    transition: width 0.4s ease-in 0.4s;
}

.link.close {
    transition: width 0.4s ease-in 0.4s;
}

.link.active.close {
    opacity: 1;
}

.link:hover {
    border-left: 0.2rem solid var(--sidebar-hover-color);
    cursor: pointer;
}

.link.active:hover {
    color: #d6d6d6;
}

.dropDown-link {
    background-color: #414757;
    height: 40px;
    width: 80%;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    text-decoration: none;
    color: #f5f5f5;
    font-size: 16px;
    transition: height 0.4s ease-in, width 0s ease-in 0.4s;
}

.dropDown-link.active {
    background-color: var(--sidebar-hover-color);;
}

.dropDown-link.close {
    height: 0px;
    width: calc(5rem - 20%);
    transition: height 0.4s ease-in, width 0.4s ease-in 0.4s;
}

.dropDown-link:hover {
    background: var(--sidebar-hover-color);
    cursor: pointer;
}

.link-icon {
    margin-left: 20px;    
    cursor: pointer;
    user-select: none;
    opacity: 1;
    transition: opacity 0.4s ease-in 0.6s;
}

.link-icon.close { 
    opacity: 0;
    transition: opacity 0.4s;
}

.link-icon.arrow {
}

.link-text {
    opacity: 1;
    transition: opacity 0.4s;
    transition-delay: 0.6s;
    margin: 0 0 0 1rem;
}

.subLink-text {
    opacity: 1;
    transition: opacity 0.4s;
    transition-delay: 0.6s;
    margin: 0 5rem 0 1rem;
}

.link-text.close {
    opacity: 0;
    transition: opacity 0.4s;
}

@media screen and (max-width: 700px) {
    .link-text {
        opacity: 0;
        transition: 0s;
    }
    .subLink-text {
        opacity: 0;
        transition: 0s;
    }
    .link-icon.arrow {
        opacity: 0;
        transition: 0s;
    }
}

.subLink-text.close {
    opacity: 0;
    transition: opacity 0.4s;
}

#dropSpan {
    //width: 400px
}