.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 200px;
    height: 100vh;
    background-color: var(--sidebar-color);
    //transition: width 0.4s min-width 0.4s ease-in 0.4s;
    z-index: 1; /* Stay on top */
}

@media screen and (max-width: 700px) {
    .sidebar {
        min-width: 50px;
        transition: 0s;
    }
    .icon {
        opacity: 0
    }
}

.collapse-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
}

.collapse-button {
    background: transparent;
    width: 3em;
    height: 3em;
    border: 0
}

.close {
    min-width: 80px;
    width: 80px;
}

.icon {
    width: 2em;
    height: 2em;
    cursor: pointer;
    user-select: none;
    color: #f4f4f4;
}

ul {
    list-style-type: none;
    padding: 0;
    margin:0;
}


