.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #d6d6d6;
    font-size: 3vh;
    background-color: #010000;
    width: 200px;
    padding: 10px 0;
    height: 30px;
    transition: width 0.4s ease-in;
}

.link.active {
    color: #f4f4f4;
    background-color: #404040;
}

.link:hover {
    color: #d6d6d6;
    background-color: #202020;
}

.link.active:hover {
    color: #d6d6d6;
    background-color: #616161;
}

.link-container {
    display: flex;
    justify-content: center;
}

.drawer-container {
    position: fixed;
    left: 200px;
    top: 8vh;
    height: 92vh;
    background-color: #343434;
}

.drawer-container.close {
    position: fixed;
    left: 90px;
    width: 200px
}

.link-icon {
    width: 1em;
    height: 1em;
    margin-left: 30px;    
    cursor: pointer;
    user-select: none;
}

.link.close {
    //width: 1.5em;
}

.link-active.close {
    //width: 1.5em;
    opacity: 1;
}

.link-text {
    opacity: 1;
    transition: opacity 0.4s;
    transition-delay: 0.2s;
    margin: 0 0 0 25px;
}

.link-text.close {
    opacity: 0;
    transition: opacity 0.4s;
}

span {
    white-space: nowrap;
}