.leagueStats{
    text-align:center;
    background-color: #FFFFFF;
    padding: 1em 2em;
    border-radius: 10px;
    margin-bottom: 1em
}

.leagueSelection {
    display: flex;
    justify-content: center;
    align-items:center;
}

.leagueSelection p {
    width: 4em;
    padding: 0 0.5em;
}

button {
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 0 1em;
    width: 2em;
    height: 2em;
}