.App {
  display: flex;
  flex-direction: column;
  background-color: #d6d6d6;
  height: 100%;
}

.page {
  display: flex;
  flex-direction: row;
  //top:0;
}

.content {
  padding: 1em 2em;
  margin: 4rem 0 0 12rem;
  width: calc(100vw - 220px);
  //margin: auto;
}
