:root {
  --results-color: #FDFFFC;
  --bg-color: #DDDDDD;
  --sidebar-color: #011627;
  --sidebar-hover-color: #2EC4B6;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  height: 100%;
}

.page {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: row;
}

.content {
  display: flex;
  justify-content: center;
  background-color: var(--bg-color);
  padding: 1em 2em;
  margin-top: 2em;
  width: 100%
}
