.App {
  display: flex;
  flex-direction: column;
  background-color: #d6d6d6;
  //background: linear-gradient(90deg, #abd699 40%, #75c9b7)
}

.page {
  display: flex;
  flex-direction: row
}

.content {
  margin: 50px;
}
